.jk_main{
    height: 100%;
}
.jk_main .bs-callout-info .left{
    float: left;
}
.jk_main .bs-callout-info .set{

    float: right;
    background-color:whitesmoke;
    border: #b3b0fc 1px solid;
    margin-top: 36.8px;
    width: 190px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #00a879;
}
/*@keyframes changeColor {
    0%{
        background-color: whitesmoke;
        border-radius: 8px;
        box-shadow: 2px 2px 4px #00a879;
    }
    100%{
        background-color: #00a879;
        border-radius: 0px;
        box-shadow: none;
        color: whitesmoke;
    }
}
.jk_main .set:hover{
    animation: changeColor 5s ease .1s;
    animation-iteration-count: infinite;
}*/
/*-webkit-@keyframes changeColor {
    0%{
        background-color: whitesmoke;
        border-radius: 8px;
        box-shadow: 2px 2px 4px #00a879;
    }
    100%{
        background-color: #00a879;
        border-radius: 0px;
        box-shadow: none;
        color: whitesmoke;
    }
}
.jk_main .set:hover{
    -webkit-animation: changeColor 2s ease 0s;
    -webkit-animation-iteration-count: infinite;
}*/
.main{
    width: 90%;
}
.best{
    text-decoration: blue;
}

@keyframes changeModel {
    0%{
        border:none;
    }
    100%{
        border: #aac0ff solid 3px;
        color: blue;
        background-color: #afdcff;
        border-radius: 5px;
        border: blue solid 3px;
        font-family: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }
}
.best:hover{
    animation: changeModel 1s ease 0s;
    animation-iteration-count: infinite;
}
-webkit-@keyframes changeModel {
            0%{
                border:none;
            }
            100%{
                border: #aac0ff solid 3px;
                color: blue;
                background-color: #afdcff;
                border-radius: 5px;
                border: blue solid 3px;
                font-family: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 18px;
            }
}
.best:hover{
    -webkit-animation: changeModel 1s ease 0s;
    -webkit-animation-iteration-count: infinite;
}